{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
  <section class="trainer-detail-section layout_padding">
    <style>
      .trainer-detail-section .img-box {
        margin-bottom: 50px; 
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="name">
            <h2>{{ product3.name }}</h2>
          </div>
          <div class="trainer-box">
            <div class="img-box">
              <img src="{{ product3.image.url }}" alt="{{ product3.name }}">
            </div>
            <div class="description">
              <p>{{ product3.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
